<!DOCTYPE html>
<html>
<head>
  <title>SeasonOh!</title>



  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<p align = center><img src="/assets/eye_rub.jpeg"</p>

<%= yield %>

	<br><br><br><br>
  	<a href="http://0.0.0.0:3000/users">Users List</a> | <a href="http://0.0.0.0:3000/allergies">Allergies List</a>
  	<br>

</body>
</html>
